.counter{
  margin-top: 15px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.counter-box{
  border: 1px solid gray;
  width: 30px;
  margin: 0px 5px 0px 5px;
  background-color: black;
  color: whitesmoke;
}


